* {
  margin: 0;
}

body {
  background: #181818;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 16px;
  color: #222;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
	display: flex;
	justify-content: space-between;
}

#leftHeader {
  display: flex;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	font-weight: normal;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#mainArea {
	padding: 0 40px;
	display: flex;
	flex-direction: column;
}

#headshot {
	width: 75px;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#contactDetails {
	font-size: 0.9em;
	margin-top: 2px;
	text-align: right;
}

#contactDetails ul {
	list-style-type: none;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactDetails ul li a, a[href^=tel] {
	color: #444;;
	text-decoration: none;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover {
	color: #cf8a05;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.sectionTitle {
	width: 25%;
}

.sectionContent {
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	font-weight: normal;
	color: #cf8a05;
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

@media all and (max-width: 800px) {
	#headshot {
		display: none;
	}
	
	.keySkills {
  	column-count:2;
	}
}

@media all and (max-width: 600px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	.sectionTitle, .sectionContent {
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
		display: block;
	}
	
	#leftHeader {
	  justify-content: center;
	}
	
	#name, #contactDetails {
		text-align: center;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
	
	
	section {
	  display: block;
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}
	
	.keySkills {
  	column-count:1;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}
